*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body
{
	overflow-x: hidden;
}

section
{
	background-image: linear-gradient(rgb(0, 0, 0), rgba(174, 107, 6, 0.785)),
                  url("../img/zo.jpg");
	position: relative;
	widows: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

section .imgBx
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 725px;
	margin-top: 4%;
	margin-bottom: 1%;
	position: relative;
	border: 1px #ff9900 solid;
	border-radius: 50px;
	background: #000;
	animation: fade-in 0.5s ease-in forwards;
	animation-delay: 2s;
	opacity: 0;
	
}

section .content
{
	position: relative;
	padding: 100px 50px 100px 150px;
	box-sizing: border-box;
	animation: left-in 0.5s ease-in forwards;
	animation-delay: 0.5s;
	opacity: 0;
	overflow:auto;
    margin:auto

}

section .content h1
{
	font-size: 3em;
	font-weight: 800;
	color: #ff9900;
	text-shadow: 4px 4px 6px #fff;
}

section .content p
{
	color: #fff;
	font-size: 1.2em;

}

section .content a
{
	position: relative;
	color: #fff;
	display: inline-block;
	padding: 15px 30px;
	margin-top: 20px;
	text-decoration: none;
	letter-spacing: 2px;
	background: #ff9900;;
	text-transform: uppercase;
	font-size: 0.95em;
	font-weight: 700;
}

section .content a:hover
{
	color: #111;
	background: #fff;
}

.nav 
{
	position: absolute;
	top: 75px;
	left: 150px;
	display: flex;
	border: solid #ff9900;
	padding-left: 30px;
	animation: left-in 0.5s ease-in forwards;
	animation-delay: 0s;
	opacity: 0;
}
.nav li
{
	list-style: none;
}
.nav li a
{
	position: relative;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	margin-right: 30px;
	text-decoration: none;
}
.nav li a.active,
.nav li a:hover
{
	opacity: 1;
	color: #ff9900;
}


@keyframes fade-in{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}

@keyframes left-in{
	0%
	{
		transform: translateX(-200px);
		opacity: 0;
	}
	100%
	{
		transform: translateX(0px);
		opacity: 1;
	}
}

section a{
	display: inline-block;
	text-decoration: none;
}

@media (max-width:1000px)
{
	ul > a,
	ul button {
		display: none;
	}

	ul {
		flex-direction: column;
		align-items: flex-start;
	}
	section .imgBx {
		margin-top: 85%;
	}
	section ul li a, section ul li:hover a{
		padding: 10px 0px;
	}
}
@media screen and (max-width:780px){}
