*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body
{
	overflow-x: hidden;
	width:100%;
}

section
{
	position: relative;
	widows: 100%;
	min-height: 80vh;
	display: flex;
	background: #000;
	justify-content: space-between;
	align-items: center;
}



section .content
{
	position: relative;
	padding: 100px 50px 100px 150px;
	box-sizing: border-box;
	animation: left-in 0.5s ease-in forwards;
	animation-delay: 0.5s;
	opacity: 0;
	margin-bottom: 8% ;
}

section .content h3
{
	font-size: 2em;
	font-weight: 600;
	color: #fff;
	margin-bottom: 2.5%;
}

section .content h2
{
	font-size: 3em;
	font-weight: 800;
	margin-bottom: 3%;
	color: #fff;
	text-shadow: 6px 6px 8px #ff9900;
}

section .imgBx 
{
	position: relative;
	padding-right: 400px;
	animation: fade-in 0.5s ease-in forwards;
	animation-delay: 2s;
	opacity: 0;
}

section .imgBx img
{
	border: 1px #fff dashed;
}

#perso img
{
	width: 600px;
}

section .content h4
{
	font-size: 2em;
	font-weight: 600;
	color: #fff;
	margin-bottom: 2.5%;
}

section .content p
{
	color: #fff;
	font-size: 1.1em;
	margin-bottom: 2%;
	width: 77%;
	line-height: 1.2em;
}

section .content a
{
	position: relative;
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
	margin-top: 10px;
	text-decoration: none;
	letter-spacing: 1px;
	background:#ff9900;
	text-transform: uppercase;
	font-size: 0.95em;
	font-weight: 700;
}




section .content a:hover
{
	color: #111;
	background: #fff;
}



.nav 
{
	position: absolute;
	top: 75px;
	left: 150px;
	display: flex;
	border: solid #ff9900;
	padding-left: 30px;
	animation: left-in 0.5s ease-in forwards;
	animation-delay: 0s;
	opacity: 0;
}
.nav li
{
	list-style: none;
}
.nav li a
{
	position: relative;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	margin-right: 30px;
	text-decoration: none;
}
.nav li a.active,
.nav li a:hover
{
	opacity: 1;
	color: #ff9900;
}

@keyframes fade-in{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}

@keyframes left-in{
	0%
	{
		transform: translateX(-200px);
		opacity: 0;
	}
	100%
	{
		transform: translateX(0px);
		opacity: 1;
	}
}

.origin
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #111;
	padding: 10% 0; 
}


.origin h2 
{
	color: #ff9900;
	font-size: 3em;
	font-weight: 800;
}


section .content a:hover
{
	color: #111;
	background: #fff;
}

.nav 
{
	position: absolute;
	top: 75px;
	left: 150px;
	display: flex;
	border: solid #ff9900;
	padding-left: 30px;
	animation: left-in 0.5s ease-in forwards;
	animation-delay: 0s;
	opacity: 0;
}
.nav li
{
	list-style: none;
}
.nav li a
{
	position: relative;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	margin-right: 30px;
	text-decoration: none;
}
.nav li a.active,
.nav li a:hover
{
	opacity: 1;
	color: #ff9900;
}

@keyframes fade-in{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}

@keyframes left-in{
	0%
	{
		transform: translateX(-200px);
		opacity: 0;
	}
	100%
	{
		transform: translateX(0px);
		opacity: 1;
	}
}

@media screen and (max-width:780px){}